<!-- template folder is where you put html files. in settings.py you
 must let django know where this folder is to use ur html files. -->
<!-- adding our style sheets with django templateing engine
 {% load static %}
 <link rel="stylesheet" href="{% static 'css/style.css' %}" />
 -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <h1>Home</h1>
    <p> <a href="/about">About</a> Page.</p>
  </body>
</html>
