<!-- template folder is where you put html files. in settings.py you
 must let django know where this folder is to use ur html files. -->
<!-- adding our style sheets with django templateing engine
 {% load static %}
 <link rel="stylesheet" href="{% static 'css/style.css' %}" />
 -->

<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% comment %} block title here is default, will be replaced if other pages use a title {% endcomment %}
    <title> {% block title %} Django App {% endblock %} </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <script src="{% static 'js/main.js' %}" defer></script>
  </head>
  <body>
    <nav>
      <a href="/">
        <span role="img" aria-label="Home">🏠</span>
      </a> | <a href="/about">
        <span role="img" aria-label="About">😀</span>
      </a> |
      {% comment %} (will use named URL instead) <a href="/posts">📰</a> {% endcomment %}
      {% comment %} using named url links instead of normal html links allows you to pass parameters and other layers of detail {% endcomment %}
      <a href="{% url 'posts:list' %}">
        <span role="img" aria-label="Posts">📰</span>
      </a>
    </nav>
    {% comment %} content can be added here later {% endcomment %}
    <main> {% block content %} {% endblock %} </main>
  </body>
</html>
