{% extends 'layout.html' %}

{% block title %}
    Posts List
{% endblock %}

{% block content %}
<section>
    <h1>Posts</h1>
    {% for post in posts %}
    {% comment %} we use an article tag since we will have multiple posts {% endcomment %}
        <article class = "post">
            <h2>
                {% comment %} localhost:port/posts/first-post ('first-post' is the slug of the first post){% endcomment %}
                <a href="{% url 'posts:page' slug=post.slug %}">
                    {{post.title}}
                </a>
            </h2>
            <p>{{post.date}}</p>
            <p>{{post.body}}</p>
        </article>
    {% endfor %} 
</section>
{% endblock %}